In [6]:
%config IPCompleter.greedy=True

## DataFrames
DataFrames are the **two-dimentional** objects of Pandas. They are conceptually a two-dimentional series and they are the core data structure of the library.

In [7]:
import pandas as pd

In [8]:
record1 = pd.Series({'Name': 'Alice',
                         'Class':'Physics',
                         'Score': 85})
record2 = pd.Series({'Name': 'Jack',
                         'Class':'Chemistry',
                         'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                         'Class':'Biology',
                         'Score': 90})

In [9]:
df = pd.DataFrame([record1, record2, record3], index=['school1', 'school2', 'school1'])
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [10]:
students = [{'Name': 'Alice',
             'Class':'Physics',
             'Score': 85},
           {'Name': 'Jack',
             'Class':'Chemistry',
             'Score': 82},
           {'Name': 'Helen',
             'Class':'Biology',
             'Score': 90}]

df = pd.DataFrame(students, index=['school1', 'school2', 'school1'])
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [11]:
df.loc['school2']

Name          Jack
Class    Chemistry
Score           82
Name: school2, dtype: object

In [12]:
df.loc['school1']

          Name    Class  Score
school1  Alice  Physics     85
school1  Helen  Biology     90

In [13]:
type(df.loc['school2'])

pandas.core.series.Series

In [14]:
type(df.loc['school1'])

pandas.core.frame.DataFrame

In [15]:
df.loc['school1', 'Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [16]:
df.T

       school1    school2  school1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         82       90

In [17]:
df.T.loc['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [18]:
df['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [19]:
df.loc['Name']

KeyError: 'Name'

In [ ]:
type(df['Name'])

In [ ]:
df.loc['school1']['Name']

In [ ]:
print(type(df.loc['school1']))
print(type(df.loc['school1']['Name']))

In [ ]:
df.loc[:, ['Name', 'Score']]

In [ ]:
df.drop('school1')

In [ ]:
df

In [ ]:
copy_df = df.copy()

copy_df.drop("Name", inplace=True, axis=1)
copy_df

In [ ]:
del copy_df["Score"]
copy_df

In [ ]:
df['ClassRanking'] = None
df

## CSV Files

In [ ]:
!cat datasets/Admission_Predict.csv

In [ ]:
df = pd.read_csv('datasets/Admission_Predict.csv') 
df.head()

In [ ]:
df = pd.read_csv('datasets/Admission_Predict.csv', index_col=0)
df.head()

In [ ]:
new_col_names = {'GRE Score': 'GRE Score',
                 'TOEFL Score': 'TOEFL Score',
                 'University Rating':'University Rating',
                 'SOP': 'Statement of Purpose',
                 'LOR':'Letter of Recommendation',
                 'Chance of Admit': 'Chance of Admit'}
new_df = df.rename(columns=new_col_names)
new_df.head()

In [ ]:
new_df.columns

In [ ]:
new_df = new_df.rename(columns={'LOR ': 'Letter of Recommendation'})
new_df.head()

In [ ]:
new_df = new_df.rename(mapper=str.strip, axis='columns')
new_df.head()

In [ ]:
df.columns

In [ ]:
cols = list(df.columns)
cols = [x.lower().strip() for x in cols]
df.columns = cols
df.head()

### Boolean masks

In [ ]:
df = pd.read_csv('datasets/Admission_Predict.csv', index_col=0)
df.columns = [x.lower().strip() for x in df.columns]
df.head()

Let's show just the students with chance higher than 0.7

In [ ]:
admit_mask = df['chance of admit'] > 0.7
admit_mask

In [ ]:
df.where(admit_mask).head()

As you can see, if the condition was met, them the line is kept, but if not, we whole line just have NaN's.

In [ ]:
df.where(admit_mask).dropna().head()

Now we've dropped the NaN lines (notice the serial number).

There's also a more common way to do this, just buy passing the boolean mask as the DataFrame index.

In [ ]:
df[df['chance of admit'] > 0.7].head()

In [ ]:
df["gre score"].head()

In [ ]:
df[["gre score", "toefl score"]].head()

In [ ]:
df[df["gre score"] > 320].head()

Finally, we might want more than one mask.

In [ ]:
(df['chance of admit'] > 0.7) and (df['chance of admit'] < 0.9)

That returns us an error because we need to use & and |.

In [ ]:
(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)

One more thing is that we need the parenthesis.

In [ ]:
df['chance of admit'] > 0.7 & df['chance of admit'] < 0.9

There are built-in functions that we might use as well:

In [ ]:
df['chance of admit'].gt(0.7).lt(0.9)

## Indexing

In [ ]:
df = pd.read_csv('datasets/Admission_Predict.csv', index_col=0)
df.head()

In [ ]:
df['serial number'] = df.index
df = df.set_index('Chance of Admit ')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('datasets/census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df = df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME', 'CTYNAME', 'BIRTHS2010','BIRTHS2011', 'BIRTHS2012','BIRTHS2013',
                  'BIRTHS2014', 'BIRTHS2015', 'POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012',
                  'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

## Hierarchical indices

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[[('Michigan', 'Washtenaw County'), ('Michigan', 'Wayne County')]]

## Missing Values

In [ ]:
df = pd.read_csv('datasets/class_grades.csv')
df.head(10)

In [ ]:
mask = df.isnull()
mask

In [ ]:
df.dropna().head(10)

In [ ]:
df.fillna(0) # we can also use the inplace=True argument

In [ ]:
df.fillna(0, inplace=True)
df.head(10)

In [ ]:
df = pd.read_csv('datasets/log.csv')
df.head(20)

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df.head(20)

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df.head(20)

In [ ]:
df = df.fillna(method='ffill')
df.head()

In [ ]:
df = pd.DataFrame({'A': [1, 1, 2, 3, 4],
                   'B': [3, 6, 3, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df.head()

In [ ]:
df.replace(1, 100)

In [ ]:
df.replace([1, 3], [100, 300])

In [ ]:
df = pd.read_csv('datasets/log.csv')
df.head(20)

In [ ]:
df = df.replace(to_replace=".*.html$", value="webpage", regex=True)
df.head(20)

In [26]:
df = pd.DataFrame({'gre score': [337, 324, 316, 322, 314],
                   'toefl score': [118, 107, 104, 110, 103]})
df.head()

   gre score  toefl score
0        337          118
1        324          107
2        316          104
3        322          110
4        314          103

In [27]:
df.where(df['toefl score'] >105)

   gre score  toefl score
0      337.0        118.0
1      324.0        107.0
2        NaN          NaN
3      322.0        110.0
4        NaN          NaN