In [ ]:
x = 1
y = 2 
x + y

In [ ]:
def add_numbers(x, y):
    return x+y
add_numbers(1, 2)

In [ ]:
def add_numbers(x, y, z=None):
    if (z == None):
        return x+y
    else:
        return x+y+z
print(add_numbers(1,2))
print(add_numbers(1, 2, 3))

In [ ]:
type('string value')

In [ ]:
type(None)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

In [ ]:
x=(1, 'a', 2, 'b')
type(x)

In [ ]:
x=[1, 'a', 2, 'b']
type(x)

In [ ]:
x.append(3.3)
x

In [ ]:
for item in x:
    print(item)

In [ ]:
[1, 2] + [3, 4]

In [ ]:
[1] * 3

In [ ]:
1 in [1, 2, 3]

In [ ]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

In [ ]:
x[-1]

In [ ]:
x[-4:-2]

In [ ]:
x[:3]

In [ ]:
x[3:]

In [ ]:
firstname='Lucas'
lastname='Paiolla'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Lu' in firstname)

In [ ]:
string = 'Hello world this is a single string'.split(' ')[0]
print(string)

In [ ]:
x = {'Banana' : '2$', 'Apple' : '1$'}
x['Banana']

In [ ]:
x['Orange'] = None
x['Orange']

In [ ]:
for name in x:
    print(x[name])

In [ ]:
for value in x.values():
    print(value)

In [ ]:
for name, value in x.items():
    print(f'{name} costs {value}')

In [ ]:
x = ('Banana', '$1', 'a kilo')
fruit, price, unit = x

In [ ]:
print(fruit, price, unit)

In [ ]:
fruit, price, unit, kind = x

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

## Date and Time

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

In [ ]:
delta = dt.timedelta(days = 100)
delta

In [ ]:
today = dt.date.today()

In [ ]:
today-delta

In [ ]:
today > today-delta

## Objects

In [ ]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
lucas = Person()
lucas.set_name('Lucas')
lucas.set_location('SÃ£o Paulo')

In [ ]:
lucas.name

In [ ]:
lucas.location

## map() function

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

Notice that when we try to print `cheapest`, it doesn't show us anything. 

That's because Python uses **lazy evaluation** in the map function.

In [ ]:
for price in cheapest:
    print(price)

## Lambdas and List Comprehensions

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(2, 3, 4)

In [ ]:
my_list = []
for number in range(0, 20):
    if number % 2 == 0:
        my_list.append(number)
        
my_list

In [ ]:
my_list = [number for number in range(0, 20) if number % 2 == 0]
my_list

In [9]:
def times_tables():
    lst = []
    for i in range(4):
        for j in range (4):
            lst.append(i*j)
    return lst
times_tables()

[0, 0, 0, 0, 1, 2, 0, 2, 4]

In [10]:
lst = [i*j for i in range(4) for j in range(4)]
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4]